<?xml version="1.0" encoding="UTF-8"?>
<flectra>
    <data>
        <record id="action_marel_in_report_profit_sale" model="ir.actions.act_window">
            <field name="name">account.invoice.report.pivot.custom</field>
            <field name="res_model">account.invoice.report</field>
            <field name="view_mode">pivot</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
					Click to add Income
				</p>
            </field>
        </record>
            <!-- web_icon="marel_in_report_profit_sale,static/description/sample.png" -->
        <menuitem id="marel_in_report_profit_sale_0"
			name="Report Pivot SO"
			sequence="100"/>
        <menuitem id="marel_in_report_profit_sale_1"
			name="Report Income"
			parent="marel_in_report_profit_sale_0"
			sequence="30"/>
        <!-- sub menu -->
        <menuitem id="menu_marel_in_report_profit_sale"
			name="Income SO"
			parent="marel_in_report_profit_sale_1"
			action="action_marel_in_report_profit_sale"
			sequence="35"/>
        <!-- sub menu -->
        <!-- <menuitem id="menu_marel_in_permintaan_benang_sample"
			name="Data Permintaan Benang"
			parent="marel_in_report_profit_sale_1"
			action="action_marel_in_permintaan_benang_sample"
			sequence="35"/> -->
        <!-- <menuitem id="menu_marel_in_sample_gramasi_product_list"
			name="Data Sample Gramasi Line"
			parent="marel_in_report_profit_sale_1"
			action="action_marel_in_sample_gramasi_product_list"
			sequence="35"/> -->
    </data>
</flectra>